# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python, 
2. R, and
3. C++.

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow, 
2. scikit-learn, and
3. pandas.

| Data Science Tools |
|--------------------|
| Apache Hadoop |
| RStudio |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [8]:
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

**Objectives:**

List popular languages for Data Science
- Python
- R
- C++

## Author
Eric